<nav class="navbar navbar-default">
  <a class="navbar-brand">
    EDURange
  </a>
  <ul class="nav nav-tabs">
    <% if current_user %>
      <li>
        <%= link_to 'Home', root_path %>
      </li>
      <li>
        <%= link_to 'Profile', edit_user_registration_path %>
      </li>
      <li role="presentation">
        <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
      </li>
    <% end %>
  </ul>
</nav>
